<%= form_for(@give_post) do |f| %>
  <% if @give_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@give_post.errors.count, "error") %> prohibited this give_post from being saved:</h2>

      <ul>
      <% @give_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, placeholder: "Enter post title", autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.select :category, @give_post_categories.collect {|p| [p.category, p.id]}, {include_blank: "Select category"}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.select(:age_range, [['Newborn', 1], ['Infant', 2], ['Toddler', 3], ['Child', 4]]), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :location, placeholder: "Enter location", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, placeholder: "Enter description", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :condition, placeholder: "Enter condition", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
