<p id="notice"><%= notice %></p>

<h1>All Give Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Age Range</th>
      <th>Location</th>
      <th>Description</th>
      <th>Condition</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @give_posts.each do |give_post| %>
      <tr>
        <td><%= give_post.title %></td>
        <td><%= give_post.category %></td>
        <td><%= give_post.age_range %></td>
        <td><%= give_post.location %></td>
        <td><%= give_post.description %></td>
        <td><%= give_post.condition %></td>
        <td><%= give_post.user_id %></td>
        <td><%= link_to 'Show', give_post %></td>
        <td><%= link_to 'Edit', edit_give_post_path(give_post) %></td>
        <td><%= link_to 'Destroy', give_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Give Post', new_give_post_path %>
