<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @give_post.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @give_post.category %>
</p>

<p>
  <strong>Location:</strong>
  <%= @give_post.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @give_post.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @give_post.condition %>
</p>

<p>
  <strong>User:</strong>
  <%= @give_post.user_id %>
</p>

<%= link_to 'Edit', edit_give_post_path(@give_post) %> |
<%= link_to 'Back', give_posts_path %>
