<%= form_for(@receive_post) do |f| %>
  <% if @receive_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receive_post.errors.count, "error") %> prohibited this receive_post from being saved:</h2>

      <ul>
      <% @receive_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, placeholder: "Enter post title", autofocus: "true", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.select :category, @receive_post_categories.collect {|c| [c.name, c.id]}, {include_blank: "Select category"}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :location, placeholder: "Enter location", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, placeholder: "Enter description", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :condition, placeholder: "Enter condition", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
