<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @receive_post.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @receive_post.category %>
</p>

<p>
  <strong>Location:</strong>
  <%= @receive_post.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @receive_post.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @receive_post.condition %>
</p>

<p>
  <strong>User:</strong>
  <%= @receive_post.user_id %>
</p>

<%= link_to 'Edit', edit_receive_post_path(@receive_post) %> |
<%= link_to 'Back', receive_posts_path %>
