<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Sharing Grace</title>

	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= csrf_meta_tags %>
</head>
<body>

	<header class="page-header">
		<nav class="navbar nav-tabs navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<%= link_to "Sharing Grace", class: "navbar-brand" %>
				</div>
				<ul class="nav navbar-nav nav-tabs navbar-left">
					<li>
						<%= link_to "First Page" %>
					</li>
					<% if GivePost.all != nil && GivePost.all.length > 0 %>	
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aira-haspopup="true" aria-expanded="false">Give Posts <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<% @giveposts.each do |post| %>
									<li><%= link_to post.name %></li>
								<% end %>
							</ul>
						</li>
					<% end %>
					<% if ReceivePost.all != nil && ReceivePost.all.length > 0 %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aira-haspopup="true" aria-expanded="false">Receive Posts <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<% @receiveposts.each do |post| %>
									<li><%= link_to post.name %></li>
								<% end %>
							</ul>
						</li>
					<% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<li>
							<%= link_to "Edit Profile", edit_user_registration_path %>
						</li>
						<li>
							<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
						</li>
					<% else %>
						<li>
							<%= link_to "Sign Up", new_user_registration_path %>
						</li>
						<li>
							<%= link_to "Forgot Password", new_user_password_path, method: :delete %>
						</li>                   
					<% end %>
				</ul>
			</div>
		</nav>
	</header>

	<main>
		<div class="container">
		  <%= yield %>
		</div>
	</main>

  <footer class="page-footer navbar-fixed-bottom text-center">
		<div class="container-fluid">
			<p>&copy; Androit Development, 2016</p>
		</div>
	</footer>

	<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_api_key}' %>

	<%= javascript_include_tag 'application' %>
</body>
</html>